.vscode
.myOCR
__pycache__/
*.pyc
.env
receipt-parser-480809-3182b977a81b.json
.kreuzberg
images
labels
new_ocr
output_ar_image(paddelocr)
src\app\api.py
myOCR
test_data.zip
note.md
key.py
try_models
arabic_best.mlmodel